<h1> Sign In </h1>

<!-- compare the form_for below with the one on newuser.html.erb you will realize that the (:session, url:sessions_path) is extra. this is because without this part. form_for automatically routes you to users_path.
-->


<%= form_for(:session, url:sessions_path) do |f| %> <br>
<%= f.label :email %> <%= f.text_field :email%> <br>
<%= f.label :password %> <%= f.text_field :password%> <br>

<%= f.submit "Sign In", class: "btn btn-primary navbar-btn"%>

<% flash.each do |key, value| %>
<%= value %>

<% end %>

<%= link_to "Create a New Account",register_path %>

<% end %>