<h1> Register Your Account </h1>

<%= form_for @user do |r| %>
<%= r.label :name %>
<%= r.text_field :name %>

<%= r.label :email %>
<%= r.text_field :email %>

<%= r.label :password %>
<%= r.text_field :password %>

<%= r.submit "Register" %>


<% end %>



