<h1> Register for the stie </h1>

<div> 
	<button type="button">Connect through Yelp</button>
</div>

<h2> OR </h2>

<div>
	<%= form_for @user do |u| %>
		Name: <%= u.text_field :name %> <br>
		Password: <%= u.text_field :password %> <br>
		email: <%= u.text_field :email %> <br>

		<%= u.submit "Register" %>
			<% end %> 
</div>


