<h1> List of your Favourites </h1>
<nav>
<%= render partial: "layouts/search" %>
</nav>
<div>
<% @favourites_list.each do |business| %>
<div>
	<img class="pic" src= <%= business.image_url %>><br>
	<strong>Name</strong>: <%= business.name %> <br>
	<strong>Address</strong>: <%= business.location.address %> <br>
	<strong>City</strong>: <%= business.location.city %> <br>
	<strong>Rattings</strong>: <img src= <%= business.rating_img_url_large %>><br>

	
	<%= link_to "Delete Favourite",remove_path(business.id), method: :delete %>
	
	<% if Place.where(yelp_id: business.id).exists? %>
		<% @time = Place.find_by(yelp_id: business.id) %>
		<p> Wait time: <%= @time.wait_time_input %> </p>
						
	<% else %>

		<p> Wait time: No information </p>

	<% end %>

	<% end %>
	</div>
	
</div>
