<% if current_user.business_owner == true %>

<h1>Add a wait time schedule to <%= @place.yelp_id %> </h1>

<%= form_for(:wait_time, :url => create_path) do |f| %>

	<%= f.label :owner_wait_input %> 
	<%= f.hidden_field :day, value: 1 %>
	<%= f.hidden_field :seconds_since_midnight, value: 30 %>
	<%= f.select("owner_wait_input", WaitTime::WAIT) %>	
	<%= f.hidden_field :yelp_id, value: @place.yelp_id %>

	<%= f.submit "Create This Schedule" %> 
<% end %>
<% end %>
