<% if current_user.business_owner == true %>

<h1>Add a wait time schedule to <%= @place.yelp_id %> </h1>

<%= form_for(:wait_time, :url => create_path) do |f| %>
	

	<%= f.label :owner_wait_input, "Monday 8-9am" %> 
	<%= f.hidden_field :day, value: 1 %>
	<%= f.hidden_field :seconds_since_midnight, value: 30 %>
	<%= f.select(:owner_wait_input, WaitTime::WAIT) %>	
	<%= f.hidden_field :yelp_id, value: @place.yelp_id %>

	<%= f.submit "Create This Schedule" %> 
<% end %>


<%= form_tag('/wait_time_chart', method: :post) do %>

	<%= label_tag :owner_wait_input, "Monday 9-10am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 32401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %> </br>

	<%= label_tag :owner_wait_input, "Monday 10-11am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 36001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Monday 11-12am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 39601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Monday 12-1pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 43201 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Monday 1-2pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 46801 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Monday 2-3pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 50401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Monday 3-4pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 54001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Monday 4-5pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 57601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Monday 5-6pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 61201 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Monday 6-7pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 64801 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Monday 7-8pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 68401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Monday 8-9pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 72001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Monday 9-10pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 75601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<!-- MONDAY_______________________________________________ -->

		<%= label_tag :owner_wait_input, "Tuesday 9-10am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 32401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %> </br>

	<%= label_tag :owner_wait_input, "Tuesday 10-11am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 36001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Tuesday 11-12am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 39601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Tuesday 12-1pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 43201 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Tuesday 1-2pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 46801 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Tuesday 2-3pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 50401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Tuesday 3-4pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 54001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Tuesday 4-5pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 57601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Tuesday 5-6pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 61201 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Tuesday 6-7pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 64801 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Tuesday 7-8pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 68401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Tuesday 8-9pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 72001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Tuesday 9-10pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 75601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<!-- Tuesday_______________________________________________ -->
 
 		<%= label_tag :owner_wait_input, "Wednesday 9-10am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 32401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %> </br>

	<%= label_tag :owner_wait_input, "Wednesday 10-11am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 36001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Wednesday 11-12am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 39601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Wednesday 12-1pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 43201 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Wednesday 1-2pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 46801 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Wednesday 2-3pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 50401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Wednesday 3-4pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 54001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Wednesday 4-5pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 57601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Wednesday 5-6pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 61201 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Wednesday 6-7pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 64801 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Wednesday 7-8pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 68401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Wednesday 8-9pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 72001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Wednesday 9-10pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 75601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<!-- Wednesday_______________________________________________ -->
 
 		<%= label_tag :owner_wait_input, "Thursday 9-10am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 32401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %> </br>

	<%= label_tag :owner_wait_input, "Thursday 10-11am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 36001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Thursday 11-12am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 39601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Thursday 12-1pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 43201 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Thursday 1-2pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 46801 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Thursday 2-3pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 50401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Thursday 3-4pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 54001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Thursday 4-5pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 57601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Thursday 5-6pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 61201 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Thursday 6-7pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 64801 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Thursday 7-8pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 68401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Thursday 8-9pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 72001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Thursday 9-10pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 75601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<!-- Thursday_______________________________________________ -->
 
 		<%= label_tag :owner_wait_input, "Friday 9-10am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 32401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %> </br>

	<%= label_tag :owner_wait_input, "Friday 10-11am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 36001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Friday 11-12am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 39601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Friday 12-1pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 43201 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Friday 1-2pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 46801 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Friday 2-3pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 50401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Friday 3-4pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 54001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Friday 4-5pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 57601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Friday 5-6pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 61201 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Friday 6-7pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 64801 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Friday 7-8pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 68401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Friday 8-9pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 72001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Friday 9-10pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 75601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<!-- Friday_______________________________________________ -->
 
 		<%= label_tag :owner_wait_input, "Saturday 9-10am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 32401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %> </br>

	<%= label_tag :owner_wait_input, "Saturday 10-11am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 36001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Saturday 11-12am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 39601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Saturday 12-1pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 43201 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Saturday 1-2pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 46801 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Saturday 2-3pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 50401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Saturday 3-4pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 54001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Saturday 4-5pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 57601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Saturday 5-6pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 61201 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Saturday 6-7pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 64801 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Saturday 7-8pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 68401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Saturday 8-9pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 72001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Saturday 9-10pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 75601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<!-- Saturday_______________________________________________ -->
 
 		<%= label_tag :owner_wait_input, "Sunday 9-10am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 32401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %> </br>

	<%= label_tag :owner_wait_input, "Sunday 10-11am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 36001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Sunday 11-12am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 39601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Sunday 12-1pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 43201 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Sunday 1-2pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 46801 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Sunday 2-3pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 50401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Sunday 3-4pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 54001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Sunday 4-5pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 57601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Sunday 5-6pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 61201 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Sunday 6-7pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 64801 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Sunday 7-8pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 68401 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Sunday 8-9pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 72001 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<%= label_tag :owner_wait_input, "Sunday 9-10pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][seconds_since_midnight]', 75601 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %></br>

	<!-- Sunday_______________________________________________ -->


<%= submit_tag "Create This Schedule" %>

<% end %>
<% end %>
