<% if current_user.business_owner == true %>

<nav class="header">
<h1 class="topic"> Add a wait time schedule to <%= @place.yelp_id %> </h1>
</nav>


<%= form_tag('/wait_time_chart', method: :post) do %>

	<div class="onebigform">

	<p> CAUTION: you can only modify one restaurant's wait time schedule, once your result is submitted, you may no longer edit another Restaurant's wait time schedule </p>

 	<p> In order to submit the stats forms , please fill in the verification code below. To obtain the verification code please call Munch Time's business support </p>
	
	<strong><p> Verification code: </p></strong><%= text_field_tag (:verification) %> <br>

	<div class="fillout">
	<strong> <p> Monday </p> </strong>
	<%= label_tag :owner_wait_input, "9-10am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 9 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "10-11am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 10 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "11-12am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 11 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "12-1pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 12 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "1-2pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 13 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "2-3pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 14 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "3-4pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 15 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "4-5pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 16 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "5-6pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 17 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "6-7pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 18 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "7-8pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 19 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "8-9pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 20 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "9-10pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 1 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 21 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>
	</div>
	<!-- Monday______________________________________________ -->
	
	<div class="fillout">
		<strong><p> Tuesday </p></strong>
	<%= label_tag :owner_wait_input, "9-10am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 9 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	 <%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "10-11am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 10 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "11-12am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 11 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "12-1pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 12 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "1-2pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 13 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "2-3pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 14 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "3-4pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 15 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "4-5pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 16 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "5-6pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 17 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "6-7pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 18 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "7-8pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 19 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "8-9pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 20 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "9-10pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 2 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 21 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>
	</div>
	<!-- Tuesday_______________________________________________ -->

 	<div class="fillout">
 		<strong><p> Wednesday </p></strong>
 	<%= label_tag :owner_wait_input, "9-10am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 9 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	 <%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "10-11am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 10 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "11-12am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 11 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "12-1pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 12 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "1-2pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 13 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "2-3pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 14 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "3-4pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 15 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "4-5pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 16 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "5-6pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 17 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "6-7pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 18 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "7-8pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 19 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "8-9pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 20 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "9-10pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 3 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 21 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>
	</div>
	<!-- Wednesday_______________________________________________ -->

 	<div class="fillout">
 		<strong><p> Thursday </p></strong>
 	<%= label_tag :owner_wait_input, "9-10am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 9 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	 <%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "10-11am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 10 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "11-12am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 11 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "12-1pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 12 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "1-2pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 13 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "2-3pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 14 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "3-4pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 15 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "4-5pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 16 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "5-6pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 17 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "6-7pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 18 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "7-8pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 19 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "8-9pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 20 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "9-10pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 4 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 21 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>
	</div>
	<!-- Thursday_______________________________________________ -->
 	<div class="fillout">
 		<strong><p> Friday </p></strong>
 	<%= label_tag :owner_wait_input, "9-10am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 9 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	 <%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "10-11am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 10 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "11-12am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 11 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "12-1pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 12 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "1-2pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 13 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "2-3pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 14 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "3-4pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 15 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "4-5pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 16 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "5-6pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 17 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "6-7pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 18 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "7-8pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 19 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "8-9pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 20 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "9-10pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 5 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 21 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>
	</div>
	<!-- Friday_______________________________________________ -->
 	<div class="fillout">
 		<strong><p> Saturday </p></strong>
 	<%= label_tag :owner_wait_input, "9-10am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 9 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	 <%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "10-11am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 10 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "11-12am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 11 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "12-1pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 12 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "1-2pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 13 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "2-3pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 14 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "3-4pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 15 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "4-5pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 16 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "5-6pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 17 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "6-7pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 18 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "7-8pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 19 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "8-9pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 20 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "9-10pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 6 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 21 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>
	</div>
	<!-- Saturday_______________________________________________ -->
 	<div class="fillout">
 		<strong><p> Sunday </p></strong>
 	<%= label_tag :owner_wait_input, "9-10am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 9 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	 <%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "10-11am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 10 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "11-12am" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 11 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "12-1pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 12 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "1-2pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 13 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "2-3pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 14 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "3-4pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 15 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "4-5pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 16 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "5-6pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 17 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "6-7pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 18 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "7-8pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 19 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "8-9pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 20 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>

	<%= label_tag :owner_wait_input, "9-10pm" %> 
	<%= hidden_field_tag 'wait_time[][day]', 0 %>
	<%= hidden_field_tag 'wait_time[][hour_of_day]', 21 %>
	<%= select_tag('wait_time[][owner_wait_input]', options_for_select(WaitTime::WAIT)) %>	
	<%= hidden_field_tag 'yelp_id', @place.yelp_id %>
	<%= hidden_field_tag 'wait_time[][user_id]', current_user.id %> </br>
	</div>

	<!-- Sunday_______________________________________________ -->
	
<div class="submitbutton">
<%= submit_tag "Create This Schedule" %>
</div>

<% end %>
<% end %>
</div>
<div class="header">
</div>
