<h1> Start by searching a restaurant! </h1>
<nav>
<%= render partial: "layouts/search" %>
</nav>


<body>
<div class="container">
<% if @results %>

<% @results.businesses.each do |business| %>
<div class="box">
	<img class="pic" src= <%= business.image_url %>><br>
	<strong>Name</strong>: <%= business.name %> <br>
	<strong>Address</strong>: <%= business.location.address %> <br>
	<strong>City</strong>: <%= business.location.city %> <br>
	<strong>Rattings</strong>: <img src= <%= business.rating_img_url_large %>><br>
	<strong>Business id</strong>: <%= business.id %><br>

	<%= form_for(:favourite, :url => favourites_path) do |f| %>
        <%= f.hidden_field :yelp_id, value: business.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "Add to Favourites" %>
	<% end %>

	<%= form_for(:place, :url => wait_path ) do |f| %>
		<%= f.hidden_field :yelp_id, value: business.id %>
		<%= f.select( "wait_time_input", WaitTime::WAIT) %>
		<%= f.submit "Submit Time" %>
	<% end %>

	<% if Place.where(yelp_id: business.id).exists? %>
		<% @time = Place.find_by(yelp_id: business.id) %>
		<p> Wait time: <%= @time.wait_time_input %> </p>
						
	<% else %>

		<p> Wait time: No information </p>

	<% end %>
	
	</div>

<% end %>
<% end %>
</div>
</body>


