
<%= render partial: "layouts/navbar" %>
<body>
<div class="searchbackground">
<% if @results %>


<!-- this grabs the API return from yelp and then display it after the users conducts a serach -->

<div class="foodbox">
<% @results.businesses.each do |business| %>

	<img class="pic" src= <%= business.image_url %>><br>
	<strong>Name</strong>: <%= business.name %> <br>
	<strong>Address</strong>: <%= business.location.address %> <br>
	<strong>City</strong>: <%= business.location.city %> <br>
	<strong>Rattings</strong>: <img src= <%= business.rating_img_url_large %>><br>
	<strong>Business id</strong>: <%= business.id %><br>

	<% if logged_in? %>
	<% if Favourite.where(:yelp_id => business.id, :user_id => current_user.id.to_s).exists? == true %>
		<p> Favourited </p>	
		<% else %>
	<%= form_for(:favourite, :url => favourites_path) do |f| %>
        <%= f.hidden_field :yelp_id, value: business.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "Add to Favourites" %>
	<% end %>
	<% end %>
	<% end %>

<!-- allows for owners to input their time, this also make sure that every owner can only input the ownerinput in one restaurant, every restaurant should have only one ownerinput, and one owner cannot make multiple ownerinput into the same restaurant -->

	<% if logged_in? == true && current_user.business_owner == true %>
		<% if Place.where(yelp_id: business.id).exists? == true %>
			<% @time = Place.find_by(yelp_id: business.id) %>
				<% if @time.wait_times == [] && Place.where("wait_times.user_id" => current_user.id.to_s).exists? == false %>
					<%= link_to 'Modify wait chart for your restaurant', chart_path(yelp_id: business.id) %>
				<% else %>
				 <!-- do nothing -->
				<% end %>

		<% else %>
			<% if Place.where("wait_times.user_id" => current_user.id.to_s).exists? == true %>
			  <p> you have already modified wait chart for one of the restaurants </p>

			  <% else %>

			<%= link_to 'Modify wait chart for your restaurant', chart_path(yelp_id: business.id) %>
			<% end %>
	
		<% end %>
	<% else %>
		<!-- do nothing -->
	<% end %>

<!-- allows users to input their time -->
	<% if logged_in? %>
	<%= form_for(:userstat, :url => send_path ) do |f| %>
		<%= f.hidden_field :yelp_id, value: business.id %>
		<%= f.select( "user_wait_input", WaitTime::WAIT) %>
		<%= f.hidden_field :user_id, value: current_user.id %>
		<%= f.hidden_field :day, value: Time.now.wday %>
		<%= f.hidden_field :hour_of_day, value: Time.now.hour %>
		<%= f.submit "Submit Time" %>
	<% end %>
	<% else %>
	<p> To input your wait time data, you must first create an account and log in </p>
	<% end %>


<!--this code below is for grabbing the right hour of the day and right day of the week to display as wait time. In addition, it is set up so that if there is ONLY userinput then we display userinput, if there is ONLY owner input then display ownerinput, if there are both ownerinput and userinput do an average of the two and display it-->
	<% if Place.where(yelp_id: business.id).exists? %>

		<% @time = Place.find_by(yelp_id: business.id) %>


			<% if @time.wait_times.where(day: Time.now.wday, hour_of_day: Time.now.hour).exists? == true && @time.userstats.where(day: Time.now.wday, hour_of_day: Time.now.hour).exists? == true %>
	<!-- user input + ownerinput-->

				<p> <strong>Wait Time (mins)</strong>: <%= (@time.wait_times.where(day: Time.now.wday, hour_of_day: Time.now.hour).avg(:owner_wait_input) + @time.userstats.where(day: Time.now.wday, hour_of_day: Time.now.hour).avg(:user_wait_input)) / 2 %> user+owner</p>


			<% elsif @time.wait_times.where(day: Time.now.wday, hour_of_day: Time.now.hour).exists? == true && @time.userstats.where(day: Time.now.wday, hour_of_day: Time.now.hour).exists? == false %>
	<!-- ownerinput ONLY-->

				<p> <strong>Wait Time(mins)</strong>: <%= @time.wait_times.where(day: Time.now.wday, hour_of_day: Time.now.hour).avg(:owner_wait_input) %> owner only</p>
				
			<% elsif @time.wait_times.where(day: Time.now.wday, hour_of_day: Time.now.hour).exists? == false && @time.userstats.where(day: Time.now.wday, hour_of_day: Time.now.hour).exists? == true %>
	<!-- user input ONLY-->
				<p> <strong>Wait Time(mins)</strong>: <%= @time.userstats.where(day: Time.now.wday, hour_of_day: Time.now.hour).avg(:user_wait_input) %> user only</p>


			<% elsif @time.wait_times.where(day: Time.now.wday, hour_of_day: Time.now.hour).exists? == false && @time.userstats.where(day: Time.now.wday, hour_of_day: Time.now.hour).exists? == false %>
		<!-- no input at all-->

				<p> <strong>Wait time(mins)</strong>: No information yet, submit yours! </p> 
		
			<% end %> 

	<% else %>

		<p> <strong>Wait time(mins)</strong>: No information yet, submit yours </p> 

	<% end %>



<% end %>
<% end %>

</div>

</div>
</body>
