<h1> Start by searching a restaurant! </h1>
<nav>
<%= render partial: "layouts/search" %>
<% if current_user.business_owner == true %>
<%= link_to "Add a wait time schedule for my restaurant" %>
<% end %>
</nav>


<body>
<div class="container">
<% if @results %>

<% @results.businesses.each do |business| %>
<div class="box">
	<img class="pic" src= <%= business.image_url %>><br>
	<strong>Name</strong>: <%= business.name %> <br>
	<strong>Address</strong>: <%= business.location.address %> <br>
	<strong>City</strong>: <%= business.location.city %> <br>
	<strong>Rattings</strong>: <img src= <%= business.rating_img_url_large %>><br>
	<strong>Business id</strong>: <%= business.id %><br>

	<%= form_for(:favourite, :url => favourites_path) do |f| %>
        <%= f.hidden_field :yelp_id, value: business.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "Add to Favourites" %>
	<% end %>
	
	<% if current_user.business_owner == true %>
	<%= link_to 'modify wait chart', chart_path(yelp_id: business.id) %>

	<% end %>

	<%= form_for(:userstat, :url => send_path ) do |f| %>
		<%= f.hidden_field :yelp_id, value: business.id %>
		<%= f.select( "user_wait_input", WaitTime::WAIT) %>
		<%= f.hidden_field :user_id, value: current_user.id %>
		<%= f.hidden_field :day, value: Time.now.wday %>
		<%= f.hidden_field :hour_of_day, value: Time.now.hour %>
		<%= f.submit "Submit Time" %>
	<% end %>


	<% if Place.where(yelp_id: business.id).exists? %>

		<% @time = Place.find_by(yelp_id: business.id) %>

			<% if @time.wait_times.where(day: Time.now.wday, hour_of_day: Time.now.hour).exists? == true && @time.userstats.where(day: Time.now.wday, hour_of_day: Time.now.hour).exists? == true %>

				<p> Wait Time (mins): <%= (@time.wait_times.where(day: Time.now.wday, hour_of_day: Time.now.hour).avg(:owner_wait_input) + @time.userstats.where(day: Time.now.wday, hour_of_day: Time.now.hour).avg(:user_wait_input)) / 2 %>

			<% elsif @time.wait_times.where(day: Time.now.wday, hour_of_day: Time.now.hour).exists? == true && @time.userstats.where(day: Time.now.wday, hour_of_day: Time.now.hour).exists? == false %>

				<p> Wait Time(mins): <%= @time.wait_times.where(day: Time.now.wday, hour_of_day: Time.now.hour).avg(:owner_wait_input) %>

			<% elsif @time.wait_times.where(day: Time.now.wday, hour_of_day: Time.now.hour).exists? == false && @time.userstats.where(day: Time.now.wday, hour_of_day: Time.now.hour).exists? == true %>

				<p> Wait Time(mins): <%= @time.userstats.where(day: Time.now.wday, hour_of_day: Time.now.hour).avg(:user_wait_input) %>

			<% elsif @time.wait_times.where(day: Time.now.wday, hour_of_day: Time.now.hour).exists? == false && @time.userstats.where(day: Time.now.wday, hour_of_day: Time.now.hour).exists? == false %>

				<p> No wait time information yet, submit yours! </p> 
		
			<% end %> 

	<% else %>

		<p> No wait time information yet, submit yours! </p> 

	<% end %>

	</div>

<% end %>
<% end %>

</div>
</body>


