<nav class="navbar navbar-default" role="navigation" id="my-nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="logo" src="/assets/logo.JPG">
      <a class="navbar-brand" href= '/front_page'>Munch Time!</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <% if logged_in? %>      
          <li><%= link_to "My Favourites", list_path(current_user)%></li>
          <% end %>
        <li><a href="#">Places around me!</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" action="/search_result">
        <div class="form-group">
          <input type="text" name = 'keywords' class="form-control" placeholder="Enter your key words">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li> Welcome back <%= current_user.name %>!</li>
          <li>
          <%= link_to('Logout', signout_path, :method => :delete) %></li>    
          <% else %>
          <li>
            <%= link_to "Sign Up", register_path %>
          </li>
          <li>
            <%= link_to('Login', login_path) %>
          </li>
          <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>